In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [26]:
data = pd.read_csv('HR_comma_sep.csv')

In [6]:
data.head(10)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low
5,0.41,0.50,2,153,3,0,1,0,sales,low
6,0.10,0.77,6,247,4,0,1,0,sales,low
7,0.92,0.85,5,259,5,0,1,0,sales,low
8,0.89,1.00,5,224,5,0,1,0,sales,low
9,0.42,0.53,2,142,3,0,1,0,sales,low

In [7]:
from sklearn.preprocessing import LabelEncoder

encode = LabelEncoder()

In [10]:
data['sales'] = encode.fit_transform(data['sales'])
data['salary'] = encode.fit_transform(data['salary'])

In [11]:
 x = data.loc[:, ['satisfaction_level', 'last_evaluation', 'average_montly_hours', 'time_spend_company', 'Work_accident', 'left','promotion_last_5years', 'sales', 'salary']].values
 y = data.iloc[:,0].values

In [15]:
from sklearn.preprocessing import StandardScaler

In [16]:
sc = StandardScaler()

In [17]:
x_scaled = sc.fit_transform(x)

In [18]:
x_scaled

array([[-0.93649469, -1.08727529, -0.88203988, ..., -0.14741182,
         0.39372503, -0.55495458],
       [ 0.75281433,  0.84070693,  1.22042276, ..., -0.14741182,
         0.39372503,  1.04300352],
       [-2.02247906,  0.95755433,  1.4206573 , ..., -0.14741182,
         0.39372503,  1.04300352],
       ...,
       [-0.97671633, -1.08727529, -1.16236823, ..., -0.14741182,
         0.74231612, -0.55495458],
       [-2.02247906,  1.42494396,  1.58084493, ..., -0.14741182,
         0.74231612, -0.55495458],
       [-0.97671633, -1.14569899, -0.86201642, ..., -0.14741182,
         0.74231612, -0.55495458]])

In [20]:
from sklearn.decomposition import PCA

In [21]:
pca = PCA(n_components =5)

p = pca.fit_transform(x_scaled)

In [22]:
p

array([[ 1.01214649, -2.19343216, -0.11854295,  0.55406402,  0.04666394],
       [ 2.06894728,  1.32404569, -0.22315784, -0.72671853,  0.7394142 ],
       [ 3.05280106,  0.15007143, -0.43559672, -0.68459555,  0.8019134 ],
       ...,
       [ 0.94790058, -2.36716622, -0.21580539,  0.70839463,  0.31590764],
       [ 3.22515647,  0.46163886, -0.48965635,  0.84052785,  0.20831008],
       [ 1.03630227, -2.24082678, -0.24020851,  0.71534383,  0.30643322]])

In [29]:
principalDF = pd.DataFrame(data=p, columns= ['PC1', 'PC2', 'PC3', 'PC4', 'PC5'])
finalDf = pd.concat([principalDF, data[['number_project']]], axis = 1)
finalDf.head()

        PC1       PC2       PC3       PC4       PC5  number_project
0  1.012146 -2.193432 -0.118543  0.554064  0.046664               2
1  2.068947  1.324046 -0.223158 -0.726719  0.739414               5
2  3.052801  0.150071 -0.435597 -0.684596  0.801913               7
3  1.724879  0.601847 -0.210158  0.598743 -0.094462               5
4  1.033280 -2.224266 -0.107995  0.556258  0.052243               2